import faker from "https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js";
import http from "k6/http";
import { sleep } from "k6";

// Smoke
const smoke = {
  vus: 5,
  duration: "10s",
};

// Load
const load = {
  stages: [
    { target: 50, duration: "5m" },
    { target: 100, duration: "10m" },
    { target: 50, duration: "5m" },
  ],
};

// Stress
const stress = {
  stages: [
    { target: 100, duration: "5m" },
    { target: 250, duration: "10m" },
    { target: 100, duration: "5m" },
  ],
};

// Spike
const spike = {
  stages: [
    { target: 1000, duration: "1m" },
    { target: 0, duration: "10s" },
  ],
};

// Soak
const soak = {
  stages: [
    { target: 50, duration: "5m" },
    { target: 100, duration: "1h" },
    { target: 50, duration: "5m" },
  ],
};

// Breakpoint
const breakpoint = {
  stages: [{ target: 10000, duration: "2h" }],
  tresholds: {
    http_req_duration: {
      treshold: ["p(95) < 200", "p(99) < 1000"],
      abortOnFail: true,
      delayAbortEval: "10s",
    },
    http_req_failed: {
      treshold: ["rate<0.02"],
      abortOnFail: true,
      delayAbortEval: "10s",
    },
  },
};

const generateMovie = () => {
  return {
    "name": "teste",
    "username": "teste",
    "email": "teste",
    "date": "teste",
    "dateOfBirth": "testes",
    "location": "testes",
    "gender": "teste",
  };
}

const baseUrl = "{{{url}}}";

export const options = {{type}};

export default function () {
  // Consulta
  http.get(`${baseUrl}/users`);

  const movie = generateMovie();
  const payload = JSON.stringify(movie);

  const params = {
    headers: {
      "Content-Type": "application/json",
    },
  };

  // Criacao
  const resPost = http.post(`${baseUrl}/users`, payload, params);

  // Remocao
  if (resPost.status == 200) {
    const movieId = JSON.parse(resPost.body).id;
    http.del(`${baseUrl}/users/${movieId}`);
  }

  sleep(1);
};